<div class="justify-center align-middle flex w-full">
  <div
    class="mt-[100px] flex flex-col min-w-[500px] text-center gap-y-[25px] mb-[50px]"
  >
    <h1 class="text-2xl">Todo App</h1>
    <app-create-todo (createTodo)="createTodo($event)"></app-create-todo>

    <div *ngIf="todoList.length > 0; else noData" class="flex flex-col gap-y-4">
      <app-todo-item
        *ngFor="let todo of todoList; let i = index"
        (deleteTaskBtn)="deleteTask($event)"
        (completeActionBtn)="completeTask($event)"
        [todo]="todo"
        [index]="i"
      ></app-todo-item>
    </div>
    <ng-template #noData>
      <div class="flex justify-center gap-x-2">
        <img class="w-5" src="assets/rubber-duck.png" />
        <p>No task to do!</p>
      </div>
    </ng-template>
  </div>
</div>
